<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>제품 추가하기</title>
	</head>
	<body>
	    <h2>Product Form</h2>
			<form th:action="@{/products/save}" th:object="${product}" method="post">
			   <input type="hidden" th:field="*{id}" />

			    <label>Name: </label><input type="text" th:field="*{product_name}" /><br/>
			    <label>Category: </label><input type="text" th:field="*{category}" /><br/>
			    <label>Price: </label><input type="text" th:field="*{price}" /><br/>
			    <label>Stock Quantity: </label><input type="text" th:field="*{stock_quantity}" /><br/>
			    <button type="submit">Save Product</button>
			</form>
	</body>
</html>